:root {
  --accent-col: rgb(85, 77, 53);
  --accent-bg: rgba(85, 77, 53, 0.377);
  --border-col: black;
  --border-bg: lightgrey;
  
  --text-col: black;
  --text-dark-col: white;
}

html, body, a {
  cursor: url('cursor/circle.png'), default;
}

body {
  background-color: white;
  color: var(--text-col);
  font-family: ArialNarrow;
}

@font-face {
  font-family: Lekton;
  src: url(fonts/lekton005_l.otf);
}

@font-face {
  font-family: ArialNarrow;
  src: url(fonts/arial_narrow_7.ttf);
}

@font-face {
  font-family: PixelTwist;
  src: url(fonts/pixeltwist.ttf);
}

/* ripple effect */

/* .hoverable {
  position: relative;
  width: 300px;
    height: 200px;

} */

.hover-circle {
  position: absolute;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  background: none;
  border: solid 3px var(--border-col);
  pointer-events: none;

  /* transform: translate(-40%, -40%) scale(0); */
  transform: scale(0);
  animation: ripple 1.5s linear forwards;
}

@keyframes scaleOut {
  to {
    scale: var(--scale-f);
    opacity: 0;
  }
}

@keyframes ripple {
  to {
    /* transform: translate(-40%, -40%) scale(1.7); */
    transform: scale(1.7);
    opacity: 0;
  }
}

.container {
  width: 600px;
}

.fix-bottom-center {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translate(-50%, 0);
}

.fix-bottom-right {
  position: fixed;
  bottom: 35px;
  right: 25px;
}

.fix-top-right {
  position: fixed;
  top: 35px;
  right: 25px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1, h2, h3, h4, h5, h6 {
  font-family: PixelTwist;
}

a {
  color: var(--accent-col);
  text-decoration: none;
  border-bottom: 2px solid var(--accent-col);

  box-shadow: inset 0 0 0 0 var(--accent-bg);
  transition: box-shadow .3s ease-in-out;
}

a:hover {
  box-shadow: inset 1000px 0 0 0 var(--accent-bg);
}

/* https://codepen.io/team/css-tricks/pen/gOXMLLY */

.title {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  transition: all 150ms ease-in-out;
}

.title:hover {
  letter-spacing: 0.5rem;
  /*scale: 1.05;*/
}

/*ul.nav {*/
/*  display: flex*/
/*}*/

.nav {
  display: flex;
  width: 100%;
  gap: 20px;
  
  margin-top: 35px;
  margin-bottom: 15px;
  
  justify-content: center;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  /*border: 0 solid;*/
  outline: 2px solid;
  outline-color: var(--border-col);
  outline-offset: 0px;
  padding: 7px;
  
  width: fit-content;
  
  /* cursor: pointer; */
  
  transition: all 150ms ease-in-out;
}  

.button:hover {
  scale: 1.05;
  background: var(--border-col);
  color: var(--text-dark-col);
  /* outline-offset: 3px; */
}

.callout {
  border: solid 2px var(--border-col);
  background: var(--border-bg);
  padding: 7px;
  
  display: flex;
  margin-bottom: 15px;
  margin-top: 15px;
  
  gap: 10px;
  
  /*color: darkgrey;*/
}

.callout .date {
  color: var(--accent-col);
  font-weight: bold;
}

.pnf-title {
  font-family: PixelTwist;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}

.bordered-div {
  border: 2px solid var(--border-col);
  padding: 2rem;
}